In [ ]:
#실습:  import pandas

# 1. 데이터 프레임을 파일로부터 생성
* pd.read_csv() 사용

In [ ]:
# 데이터 파일 읽어 오기  - students.csv

In [ ]:
# header = None
# df = pd.read_csv()

In [ ]:
# 데이터 프레임 생성 후, 열 이름(헤더)  지정 가능 
# df.columns

In [ ]:
# 데이터 프레임 생성하면서 동시에 열 이름 지정

In [ ]:
# 컬럼들이 쉼표로 구분되어 있지 않은 경우
# 예) 탭으로 구분되어 있는 경우 delimiter = '\t'

In [ ]:
# 데이터 프레임 일부 읽어오기
# df.head(), df.tail()

# 2. 데이터 프레임을 딕셔너리/리스트로 생성
## (1) 딕셔너리로 생성

In [ ]:
data_dic = {
    "name": ["Kim", "Lee", "Youn", "Lee", "Kim"],
    "year": [2014, 2015, 2016, 2015, 2016],
    "points": [1.5, 1.7, 3.6, 2.4, 2.9]}

## (2) 리스트로 데이터프레임 생성

In [ ]:
data_list = [["Kim", 2014, 1.5 ], 
             ["Lee", 2015, 1.7], 
             ["Youn", 2016, 3.6]] 
title_list = ['name', 'year', 'points']

# 3. 파일로 데이터프레임을 저장
* df.to_csv()

In [ ]:
# df.describe()

# 4. 중복 데이터 삭제하기

In [ ]:
# df

##  (1) 중복된 데이터 확인하기
* df.duplicated() 사용

## (2) 중복 데이터 삭제하기
* df.drop_duplicates()

# 5. 정렬
* 행/열이름 기준 정렬
    * df.sort_index(axis=0, ascending=True) # 오름차순
* 값기준 정렬
    * df.sort_values(by  = '열이름', ascending=False) # 내림차순

* **실습)** 중간고사를 기준으로 내림차순으로 정렬

# 6. 데이터 프레임의 열을 선택
* df['열이름']
* df.열이름

문제) mid 열 읽기

In [ ]:
# 2개 이상의 열 가져오기  df[[열이름1, 열이름2]]

# 7. 새로운 열 추가 및 수정
* 열이름 **total** 추가

In [ ]:
# total =  mid + final

* **실습)** 열이름 average 추가

In [ ]:
# 실습: 평균 = (Mid + Final) / 2

 
* **실습**) grade 추가 평균 60점이상이면 pass 아니면 fail

* **실습**) 평균 60점 이상인 학생들만 확인하고 싶을 때  
판다스에서는 and ==> &, or ==> |, not ==> ~

* **실습**) grade 항목 삭제 : del df['열이름']

* **열이름 Grade 추가**
    * apply() 사용

In [ ]:
def calc_grade(tot):
    if tot >=90:
        grade = 'A'
    elif tot >=80:
        grade = 'B'
    elif tot >=70:
        grade = 'C'
    elif tot >=60:
        grade = 'D'
    else:
        grade = 'F'
        
    return grade